.hero {
    // .hero__inner
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
    // .hero__title
    &__title {
        font-size: 55px;
        font-weight: 700;
        text-align: right;
    }
    // .hero__img
    &__img {
    }
}
