.header {
    // .header__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 37px 0;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    // .logo__img
    &__img {
        height: auto;
    }
    // .logo__text
    &__text {
        font-size: 22px;
        font-weight: 400;
    }
}
.wallet {
    font-size: 22px;
    font-weight: 400;
    // .wallet__text
    &__text {
        display: inline-block;
        width: 100%;
        text-align: right;
    }
    // .wallet__data
    &__data {
        text-align: right;
    }
    // .wallet__wen
    &__wen {
    }
    // .wallet__eth
    &__eth {
    }
}
