.header {
    // .header__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: self-start;

        padding-top: 30px;
        padding-bottom: 10px;

        min-height: 41px;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    // .logo__img
    &__img {
        min-height: 41px;
        min-width: 41px;
    }
    // .logo__text
    &__text {
        font-size: 22px;
        font-weight: 400;
    }
}
.wallet {
    font-size: 22px;
    font-weight: 400;
    // .wallet__text
    &__text {
        display: inline-block;
        width: 100%;
        text-align: right;
        line-height: 41px;
    }
    // .wallet__data
    &__data {
        text-align: right;
    }
    // .wallet__balance
    &__balance {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: right;
    }
    // .wallet__address
    &__address {
        max-width: 260px;
        line-height: 41px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }
    // .wallet__wen
    &__wen {
    }
    // .wallet__eth
    &__eth {
    }
}
